<div *ngIf="recipes.length > 0">
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 md:mb-4 md:py-[4%]">
    <div class="col-span-1 md:col-span-2 lg:col-span-4">
      <h1 class="mt-4 font-bold text-4xl dark:text-black">
        halo
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-3 gap-4">
        @for(recipe of recipeService.recipeList(); track recipe.name){
        <div class="flex flex-col mt-8">
          <div class="flex flex-col md:w-full items-center justify-center">
            <div class="image "
              [ngClass]="{' border-solid border-custom_red-500 border-4' : recipe.quantity != null && recipe.quantity > 0}">
              <img [src]="recipe.image.mobile" alt="" class="mobile-image">
              <img [src]="recipe.image.tablet" alt="" class="tablet-image">
              <img [src]="recipe.image.desktop" alt="" class="desktop-image">
            </div>
            <div
              class="cursor-pointer border border-solid border-custom_rose-400 p-2 -mt-5 rounded-full w-[60%] lg:w-[70%] text-center font-semibold flex items-center justify-center"
              [ngClass]="{'hover:text-custom_red-500 ': !recipe.inBill,
                'bg-custom_red-500 text-white': recipe.quantity != null && recipe.quantity > 0,'bg-white': recipe.quantity===0}"
              (click)="changeBillStatus(recipe)">
              @if(!recipe.inBill){
              <img src="images/icon-add-to-cart.svg" alt="Add to Cart" class="mr-2">
              <span class="text-base lg:text-sm dark:text-custom_red-500 ">
                Add to Cart
              </span>}
              @if(recipe.inBill){
              <div class="flex items-center justify-between w-full">
                <button (click)="incrementQuantity(recipe)"
                  class=" w-4 h-4 rounded-full border-white border-solid border font-extrabold hover:outline-2 hover:outline ">
                  <img src="images/icon-increment-quantity.svg" class=" ml-[3px]  w-2 h-2" alt="increment quantity">
                </button>
                <span>{{ recipe.quantity }}</span>
                <button (click)="handleDecrement(recipe)" class="w-4 h-4 font-extrabold hover:outline-2 hover:outline"
                  [ngClass]="{'rounded-full border-white border-solid border': recipe.quantity !=null && recipe.quantity >1}">

                  @if (recipe.quantity ===1) {
                  <img src="images/Delete2.png" alt="remove item" class=" ml-[2px] w-3 filter-white " />
                  } @else {
                  <img src="images/icon-decrement-quantity.svg" class=" ml-[3px] w-2 h-2 " alt="decrement quantity" />
                  }
                </button>
              </div>
              }
            </div>
          </div>
          <div class="content mt-8 flex flex-col justify-start">
            <span class="text-custom_rose-400">{{recipe.category}}</span>
            <h1 class="text-custom_rose-500 font-medium dark:text-custom_rose-500">{{recipe.name}}</h1>
            <p class="text-custom_red-500">{{recipe.price}}$</p>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="md:col-span-1 lg:col-span-2 mt-6 md:mt-0">
      <div class="bg-white flex flex-col items-center justify-center md:ml-3 p-3 md:p-6 lg:p-8">
        @if(recipeService.isCartEmpty()){
        <p class="self-start text-custom_red-500 font-bold text-xl ">Your Cart (0)</p>
        <img src="images/illustration-empty-cart.svg" alt="" class="my-3">
        <p class="text-custom_rose-400 text-xs md:text-sm font-bold text-center">Your added items will appear here
        </p>
        }
        @else {
        <p class="self-start text-custom_red-500 font-bold text-2xl mt-4 md:mt-0 mb-4">Your Cart
          ({{recipeService.totalItemsInCart()}})
        </p>
        <div *ngFor="let recipe of selected()" class="self-start w-full ">
          <div class="grid grid-cols-6 ">
            <div class="col-span-5">
              <span class="font-semibold dark:text-black">
                {{ recipe.name }}
              </span>
              <br />
              <div class="">
                <span class="text-custom_red-500 font-semibold mr-4">
                  {{ recipe.quantity }}x
                </span>
                <span class="text-custom_rose-400 mr-2">
                  <span class="text-xs">&#64;</span>${{ recipe.price }}
                </span>
                <span class="text-custom_rose-400 font-semibold text-base">
                  ${{ ((recipe.quantity ?? 0) * recipe.price) }}
                </span>
              </div>
            </div>
            <div class="col-span-1 flex items-center justify-end mr-2 ">
              <div
                class="w-5 h-5 flex items-center justify-center rounded-full border-custom_rose-400 border-solid border cursor-pointer hover:border-2"
                (click)="removeFromCart(recipe)">
                <img src="images/icon-remove-item.svg" alt="remove item"
                  class="cursor-pointer w-3 h-3  border-custom_rose-400 ">
              </div>
            </div>
          </div>
          <hr class="w-full my-3" />
        </div>
        <div class="flex items-center justify-between w-full my-4">
          <p class="dark:text-black">Order Total</p>
          <span class="text-3xl font-bold mr-2 dark:text-black">${{recipeService.totalPriceInCart()}}</span>
        </div>
        <div class="py-4 md:px-4 bg-custom_rose-50 flex justify-center items-center w-full rounded-md">
          <img src="images/icon-carbon-neutral.svg" alt="carbon neutral">
          <span class=" font-semibold text-sm ml-2 dark:text-black">
            This is a <strong>Carbon-neutral</strong> Delivery</span>
        </div>
        <button class="w-full bg-custom_red-500 p-4 rounded-full text-white mb-4 md:mb-0 mt-6"
          (click)="confirmation()">Confirm Order</button>
        <app-dialog [(visible)]="modalVisible"></app-dialog>
        }
      </div>
    </div>
  </div>
</div>
